p {
    color:peachpuff;
    background-color:dodgerblue;
}

.hotshot {
    border-width: 10px;
    border-style: groove;
    border-color: burlywood;
#main {
        background-color: blanchedalmond;
    }

.hotshot > span {
    color: blue;
    margin: 20px !important;
}

/* element  class  id */
/* 2         0     0  */
/* 0          1     0 */
/* 5000     20000    0 */
/* 0        0        1 */

